/.idea/
.DS_Store
.terraform/
__pycache__/
spot.egg-info/
/CloudFormation/IAM-Roles/Eco/tree-md
.history
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
*.auto.tfvars
*.tfvars
!**/*.tfvars.example

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform plans and local project metadata
*.tfplan
*.plan
**/.terraform/

# CDK asset staging directory
.cdk.staging
cdk.out
